.home {
  min-height: calc(100vh - 100px);
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.home-image img {
  width: 430px;
  max-width: 100%;
}

.home-content {
  h1 {
    font-size: 56px;
    margin-bottom: 15px;
  }

  h2 {
    font-size: 32px;
    color: #555;
    font-weight: 400;
    margin-bottom: 25px;
  }
}

.buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;

  button {
    padding: 15px 28px;
    border-radius: 30px;
    font-weight: 700;
    cursor: pointer;
  }
}

.outline-btn {
  background: white;
  border: 2px solid #333;
}

.dark-btn {
  background: #333;
  color: white;
  border: 2px solid #333;
}

.socials {
  display: flex;
  gap: 15px;

  span {
    width: 40px;
    height: 40px;
    background: #000;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}